html,body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: var(--primary-color);
}

.heading {
  background-color: var(--light-color);
  padding: 170px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items:center;
}



  .read-more {
  background: #fff;
  color: #000;
  padding: 0.4em 0.8em;
  font-size: 0.9rem;
  pointer-events: none;
}

.bottom-heading {
  padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    flex:1;
}

.title {
    font-size: 2rem;
}

.subtitle {
  font-size:1rem;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.service-item {
  position: relative;
  width: 324px;
  aspect-ratio: 1;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 70%;
  height: 70%;
  background: rgba(126, 97, 69, 0.65);
  transition:
    top 0.3s ease 0.2s,
    left 0.3s ease 0.2s,
    width 0.3s ease 0.2s,
    height 0.3s ease 0.2s;
}

.overlay-content {
  position: absolute;
  padding: 20px;
  inset: 0;
}

.overlay-content > h3 {
  margin: 0;
  -webkit-user-select: none; /* Chrome, Safari, newer Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.hidden > p {
  -webkit-user-select: none; /* Chrome, Safari, newer Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}

.hidden > a {
  text-decoration: none;
  align-self: flex-end;
}


.service-item:hover .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.service-item:hover .hidden {
  opacity: 1;
  transition-delay: 0.3s;
}


@media (max-width: 768px) {
  .heading {
    padding: 130px 30px 30px 30px;
  }
}